# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python scripts
pop.py
rewire.py
update_frontend.py

# JS files
populate_empty.mjs
populate_empty_fixed.mjs

dev-info/APIEndPointTestResults.md
dev-info/backend_review.md
dev-info/Backend-Flow.md
dev-info/FrontEnd-testing.md
dev-info/FRONTEND.md
dev-info/MINDMAP.md
dev-info/UPDATE.md
dev-info/UPDATES.md